<div class= "row" >
	<div class="col-md-6 col-md-offset-1">
		Name <input [required="string"] ng-model="name" type="text" class="form-control" placeholder="Ólafur Helgi Jónsson"/>
		Category<input ng-model="category" type="text" class="form-control" placeholder="t.d Fatnaður"/>
		imagePath<input ng-model="imagePath" type="text" class="form-control" placeholder="www.imagepath.com"/>
		<button type="button" class="btn btn-success" ng-click="addSeller()" style="margin:5px 0;">Add Seller</button>	
	</div>

<div class="row" >
	<div class="col-md-1 col-md-offset-5">
		<button type="button" class="btn btn-primary" ng-click="back()" style="margin:5px 0;">Back Seller</button>
	</div>
</div>


