<div ng-include="'src/components/NavBar-Eng-Isl/NavBar.html'"></div>
<div class="row" >
	<div class="col-md-6 col-md-offset-1">
		Name<input ng-model="seller.name" type="text" class="form-control"/>
		Category<input ng-model="seller.category" type="text" class="form-control"/>
		ImagePath<input ng-model="seller.imagePath" type="text" class="form-control"/>
		<button type="button" class="btn btn-success" style="margin:5px 0;" ng-click="editSeller()">Edit Seller</button>
	</div>
	<div id="createRoomErrorMessage" data-ng-show="showError" ng-class="{fade:doFade}" class="alert alert-danger"><strong>Error:</strong> {{errorMessage}}</div>
	</div>
</div>

<div class="row">
	<div class="col-md-1 col-md-offset-5">
		<button type="button" class="btn btn-primary" ng-click="back()" style="margin:5px 0;">Back Seller</button>
	</div>
</div>