
<div class= "row">
	<div class = "col-md-3 ">
		<img src="{{seller.imagePath}}" class="img-responsive" alt="Responsive image"/>
	</div>

	<div class="col-md-3">
		<ul class="list-unstyled">
		    <li class="text-primary";><H4>{{seller.name}}</H4></li>
		    <li class="text-primary"><H4>{{seller.category}}</H4></li>
		</ul>
	</div>

	<div class="col-md-2 col-md-offset-4">
		<button type="button" class="btn btn-warning" ng-click="editSeller()" style="margin:5px 0;">Edit Sellers</button>
		<button type="button" class="btn btn-primary" ng-click="back()" style="margin:5px 0;">Back To Sellers</button>
	</div>
		
</div>




