<div ng-include="'src/components/NavBar-Eng-Isl/NavBar.html'"></div>
<div class="row" >
	<div class="col-md-6 col-md-offset-1">
		<label translate="editseller.Name"></label>
		<input ng-model="seller.name" type="text" class="form-control"/>
		<label translate="addseller.Category"></label>
		<input ng-model="seller.category" type="text" class="form-control"/>
		<label translate="addseller.ImagePath"></label>
		<input ng-model="seller.imagePath" type="text" class="form-control"/>
		<button type="button" class="btn btn-success" style="margin:5px 0; float:left;" ng-click="editSeller()" translate="editseller.EditSeller"></button>
		<button type="button" class="btn btn-primary" ng-click="back()" style="margin:5px 0; float:right;" translate="editseller.Back"></button>
	</div>
</div>

