<div class= "row" >
	<div class="col-md-6 col-md-offset-1">
		Name<input ng-model="productName" type="text" class="form-control" placeholder="Buxur"/>
		Price<input ng-model="price" type="number" class="form-control" placeholder=" t.d. 1999"/>
		QuantitySold<input ng-model="quantitySold" type="number" class="form-control" placeholder=" t.d. 200"/>
		QuantityInStock<input ng-model="quantityInStock" type="number" class="form-control" placeholder=" t.d. 200"/>
		imagePath<input ng-model="imagePath" type="text" class="form-control" placeholder="www.imagepath.com"/>
		<button type="button" class="btn btn-success" ng-click="addProduct()" style="margin:5px 0;">Add Product</button>	
	</div>
	
</div>

<div class="row" >
	<div class="col-md-1 col-md-offset-5">
		<button type="button" class="btn btn-primary" ng-click="back()" style="margin:5px 0;">Back Seller</button>
	</div>
</div>