<div ng-include="'src/components/NavBar-Eng-Isl/NavBar.html'"></div>
<div class= "row" >
	<div class = "col-md-3">
		<img src="{{seller.imagePath}}" style="display: block; height: 270px; width: 260px;" class="img-responsive" alt="Responsive image"/>
	</div>

	<div class="col-md-3">
		<ul class="list-unstyled" style="text-align:center">
		    <li class="text-primary";><H4>{{seller.name}}</H4></li>
		    <li class="text-primary"><H4>{{seller.category}}</H4></li>
		</ul>
	</div>

	<div class="col-md-2 col-md-offset-4">
		<button type="button" class="btn btn-warning" ng-click="addProduct()" style="margin:5px 0;" translate="sellers-detail.AddProduct"></button>
		<button type="button" class="btn btn-warning" ng-click="editSeller()" style="margin:5px 0;" translate="sellers-detail.EditSeller"></button>
		<button type="button" class="btn btn-primary" ng-click="back()" style="margin:5px 0;" translate="sellers-detail.BackToSeller"></button>
	</div>
		
</div>


<div class="row"> 
	<div class="col-md-12" style="padding: 50px;">
		<form name="outerForm" class="tab-form-demo">
		    <uib-tabset active="activeForm">
		      <uib-tab index="0" heading="Allar Vörur">
		        <ng-form name="nestedForm">
		          <div class="form-group">
		            	<div ng-controller="SellerController">
							<div my-customer type="allproducts"></div>
						</div>
		          </div>
		        </ng-form>
		      </uib-tab>
		      <uib-tab index="1" heading="Top 10">
		        <ng-form name="nestedForm">
		          <div class="form-group">
		            	<div ng-controller="SellerController">
							<div my-customer type="topten"></div>
						</div>
		          </div>
		        </ng-form>
		      </uib-tab>
		    </uib-tabset>
  		</form>
	</div>
</div>